// Color variables
$primary: #F30A49;
$secondary: #04879C;
$blue: #0C3C78;
$dark: #090030;
$grayLight:$gray-100;
$primaryHover: #c4083a;

// Color variables end

$body-bg: $white;
$body-color: $gray-800;
$font-family-sans-serif:'Poppins', sans-serif;



