// Mixin
@mixin link($color) {
  color: $color;
  text-decoration: none;
}

// Mixin End

// Html
* {
  box-sizing: border-box;
}
// Html End

// Header
.navbar-brand,
.navbar-brand:hover {
  color: $primary;
}

nav ul li {
  &:last-child {
    a {
      color: $primary;
    }
    a:hover {
      color: $secondary;
    }
  }
}

.resume {
  a {
    background-color: $primary;
  }

  a:hover {
    background-color: $secondary;
  }
}
// Header End

// Form
input.form-control,
textarea.form-control {
  &::placeholder {
    font-style: italic;
    font-size: small;
  }
  &:focus {
    box-shadow: 0 0 10px rgba(5, 173, 199, 0.9);
    border-color: $secondaryLighter;
  }
}

form button {
  &.btn {
    background-color: $secondary;
    color: white;
  }

  &.btn:hover {
    background-color: $primary;
    color: white;
  }
}

// Form End

// Contact and Footer
.contact-info {
  i {
    color: $secondary;
  }
}

nav ul li,
footer,
.contact-info,
.foot-icons {
  a {
    @include link($secondary);
  }

  a:hover {
    @include link($primaryDarker);
  }
}

// Contact and Footer End
