// Mixin
@mixin link($color){

  text-decoration: none;
}

@mixin linkHover {
  color: $primaryHover;
}
// Mixin End

// Html
* {
  box-sizing: border-box;
}
// Html End

// Header
.main-header-logo {
  color: $primary;
  text-decoration: none;
}

a.resume {
  @include link($secondary);
}

a.resume:hover {
  background-color: $secondary;
  transition-delay: 20ms;
}
// Header End

// Contact and Footer
nav ul li,
footer,
.contact-info,
.foot-icons {
  a {
    @include link;
  }
}

nav ul li,
footer,
.contact-info,
.foot-icons {
  a:hover {
    @include linkHover;
  }
}

// Contact and Footer End
