// Mixin
@mixin link($color){
  color: $color;
  text-decoration: none;
}

// Mixin End

// Html
* {
  box-sizing: border-box;
}
// Html End

// Header
.main-header-logo {
  color: $primary;
  text-decoration: none;
}

a.resume {
  background-color: $primary;
}

a.resume:hover {
  background-color: $secondary;
  transition-delay: 20ms;
}
// Header End

// Contact and Footer
nav ul li,
footer,
.contact-info,
.foot-icons {
  a {
    @include link($secondary);
  }
}

nav ul li,
footer,
.contact-info,
.foot-icons {
  a:hover {
    @include link($primaryDarker);
  }
}

// Contact and Footer End
